<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-3.2.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/rznuTest"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>

	<!-- Users JDBCtemplate bean -->
	<bean id = "usersJDBCTemplate" class = "hr.fer.rznu.jdbc.templates.UsersJDBCTemplate">
	      <property name="dataSource"  ref="dataSource" />    
	</bean>
	
	<!-- Posts JDBCtemplate bean -->
	<bean id = "postsJDBCTemplate" class = "hr.fer.rznu.jdbc.templates.PostsJDBCTemplate">
	      <property name="dataSource"  ref="dataSource" />    
	</bean>
	
	<!-- Logger bean -->
	<bean id = "rznuLogger" destroy-method="close" class = "hr.fer.rznu.logging.RznuLogger" scope = "singleton">
		<property name = "output" value = "rznuLogging.txt" />
	</bean>
	
	<bean id = "apiController" class = "hr.fer.rznu.ApiController" scope = "request">
	</bean>
	
</beans>